{% extends 'base.html' %}
{% load static %}
{% block b %}
  active
{% endblock %}
{% block content %}
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      {% if messages %}
        {% for message in messages %}
          <div class="toast align-items-center text-bg-{{ message.tags }} border-0 show" role="alert">
            <div class="d-flex">
              <div class="toast-body">{{ message }}</div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary waves-effect waves-light mb-4" data-bs-toggle="modal" data-bs-target="#onboardImageChange">افزودن دستگاه</button>
      <div class="table-responsive text-nowrap">
        {% if stations %}
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>سرویس</th>
                <th>نام ایستگاه</th>
                <th>وضعیت</th>
                <th>اقدامات</th>
              </tr>
            </thead>
            <tbody id="stationsTable">
              {% for station in stations %}
                <tr>
                  <td>{{ station.station_type }}</td>
                  <td>{{ station.name }}</td>
                  <td>
                    {% if station.status == 'free' %}
                      <span class="badge bg-label-success me-1">آماده</span>
                    {% elif station.status == 'playing' %}
                      <span class="badge bg-label-info me-1">در حال استفاده</span>
                    {% else %}
                      <span class="badge bg-label-dark me-1">غیرفعال</span>
                    {% endif %}
                  </td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button><div class="dropdown-menu">
                        <a class="dropdown-item waves-effect edit-btn" href="#" data-bs-toggle="modal" data-bs-target="#onboardImageEdit" data-id="{{ station.id }}" data-name="{{ station.name }}" data-type="{{ station.station_type }}" data-status="{{ station.status }}"><i class="mdi mdi-pencil-outline me-1"></i>ویرایش کنید</a><a class="dropdown-item waves-effect del-btn" data-bs-toggle="modal" data-bs-target="#onboardImageDelete" href="javascript:void(0);" data-id="{{ station.id }}" data-name="{{ station.name }}"><i class="mdi mdi-trash-can-outline me-1"></i>حذف</a>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="alert alert-primary" role="alert">ایستگاه تعریف نشده!</div>
        {% endif %}
      </div>
    </div>

    <!-- change -->
    <div>
      <div class="col">
        <div class="modal-onboarding modal fade animate__animated" id="onboardImageChange" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
              <div class="modal-body p-0">
                <div class="onboarding-media">
                  <div class="mx-2"></div>
                </div>
                <div class="onboarding-content mb-0">
                  <h4 class="onboarding-title text-body mt-0">افزودن دستگاه جدید</h4>
                  <div class="row g-4">
                    <form action="" method="post">
                      {% csrf_token %}
                      <div class="form-floating form-floating-outline mb-4">
                        <input type="text" name="station_type" class="form-control" id="exampleFormControlInput1" placeholder="نوع سرویس" /><label for="exampleFormControlInput1">سرویس</label>
                      </div>
                      <div class="form-floating form-floating-outline mb-4">
                        <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="نام" /><label for="exampleFormControlInput1">نام دستگاه</label>
                      </div>
                      <input type="hidden" name="status" value="free" />
                      <button type="button" class="btn btn-label-secondary me-2" data-bs-dismiss="modal">بستن</button><button type="submit" class="btn btn-primary">ذخیره</button>
                      <div class="mb-4"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->
    <!-- edit -->
    <div>
      <div class="col">
        <div class="modal-onboarding modal fade animate__animated" id="onboardImageEdit" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
              <div class="modal-body p-0">
                <div class="onboarding-media">
                  <div class="mx-2"></div>
                </div>
                <div class="onboarding-content mb-0">
                  <h4 class="onboarding-title text-body mt-0" id="stationName"></h4>
                  <div class="row g-4">
                    <form action="" id="editStationForm" method="post">
                      {% csrf_token %}

                      <div class="form-floating form-floating-outline mb-4">
                        <input type="text" name="station_type" class="form-control" id="stationType" />
                        <label>سرویس</label>
                      </div>

                      <div class="form-floating form-floating-outline mb-4">
                        <input type="text" name="name" class="form-control" id="station_Name" />
                        <label>نام دستگاه</label>
                      </div>

                      <div class="form-floating form-floating-outline mt-3 mb-3">
                        <select class="form-select" name="status" id="stationStatus">
                          <option value="free">فعال</option>
                          <option value="playing">در حال استفاده</option>
                          <option value="offline">غیرفعال</option>
                        </select>
                        <label>وضعیت</label>
                      </div>

                      <button type="button" class="btn btn-label-secondary me-2" data-bs-dismiss="modal">بستن</button>
                      <button type="submit" class="btn btn-primary">ذخیره</button>
                      <div class="mb-4"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->
    <!-- delete -->
    <div>
      <div class="col">
        <div class="modal-onboarding modal fade animate__animated" id="onboardImageDelete" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
              <div class="modal-body p-0">
                <div class="onboarding-media">
                  <div class="mx-2"></div>
                </div>
                <div class="onboarding-content mb-0">
                  <h4 class="onboarding-title text-body mt-0" id="stationName"></h4>
                  <div class="row g-4">
                   <p>آیا از حذف <span id="del_name" class="text-warning"></span> اطمینان دارید؟</p>
                  </div>
                  <button type="button" class="btn btn-label-secondary me-2" data-bs-dismiss="modal">بستن</button>
                  <a class="btn btn-danger" id="deleteBtn" href="#">حذف</a>
                  <div class="mb-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const toastElList = document.querySelectorAll('.toast')
    
      toastElList.forEach(function (toastEl) {
        const toast = new bootstrap.Toast(toastEl, {
          delay: 4000
        })
        toast.show()
      })
    })
  </script>
  <script>
    document.addEventListener('click', function (e) {
      const btn = e.target.closest('.edit-btn')
      if (!btn) return
    
      const id = btn.dataset.id
      const name = btn.dataset.name
      const type = btn.dataset.type
      const status = btn.dataset.status
    
      document.getElementById('station_Name').value = name
      document.getElementById('stationType').value = type
      document.getElementById('stationStatus').value = status
    
      document.getElementById('editStationForm').action = '/base-informations/edit/' + id + '/'
    })

    document.addEventListener('click', function (e) {
      const btn = e.target.closest('.del-btn')
      if (!btn) return
    
      const id = btn.dataset.id
      const name = btn.dataset.name
    
      document.getElementById('del_name').textContent = name
      document.getElementById("deleteBtn").href = "/base-informations/delete/" + id + "/";
    })
  </script>
{% endblock %}
